// ===== Colors =====
$backgroundColor: #FAF8F4;
$dividerColor: #DBD2C5;
$mainColor: #999;
$mainHoverColor: #A63A50;

// ===== Fonts =====
// Font Families
$mainFont: 'Merriweather', serif;
$navFont: 'Open Sans', 'Helvetica', 'Arial', 'Sans-Serif';
// Font Sizes
$h1FontSize: 5vw;
$h2FontSize: 3vw;
$mainFontSize: 1.9vw;
$navFontSize: 1.7vw;
// $mobileFontMultiplier: 0.5;

body {
	margin: 5vw;
	font-family: $mainFont;
	background-color: $backgroundColor;
}

// ===== Typography =====
h1 {
	font-size: $h1FontSize;
	font-family: $mainFont;
	font-style: italic;
}

h2 {
	font-size: $h2FontSize;
	font-family: $mainFont;
	border-top: 1px solid $dividerColor;
	padding-top: 20px;
}

p {
	font-size: $mainFontSize;
	line-height: 1.5em;
	color: #333;
}

a {
	text-decoration: none;
	color: $mainColor;
	font-size: $mainFontSize;

	&:hover {
		text-decoration: underline;
		color: $mainHoverColor;
	}

	i {
		margin-right: 5px;
	}
}

// ===== Flex Container =====
.flex-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

nav .flex-list {
	justify-content: center;
}

// ===== Nav Bar =====
.nav-item {
	margin: 10px;

	a {
		text-decoration: none;
		color: $mainColor;
		font-size: $navFontSize;
		padding: 1vw;
		transition: 0.3s;
	
		&:hover, &:focus {
			outline: none;
			text-decoration: none;
			box-shadow: 0 0 1vw 0.5vw $mainHoverColor inset;
			color: $mainHoverColor;
			border: 0 solid 0;
			border-radius: 2vw;
		}
	}
}

// ===== Images =====
img {
	max-height: 100%;
	max-width: 100%;
	border: 5px double $dividerColor;
	border-radius: 5px;
}

// ===== Skills =====
.skills-item {
	font-size: $mainFontSize;
	font-weight: bold;
	padding: 10px;
	margin: 5px;
	border: 0.5vw solid #A63A50;
	border-radius: 25px;
}

// ===== Media =====
@media (max-width: 500px) {
	.nav-item a {
		font-size: 0.7em;
	}
}